<h1>タスク登録フォーム</h1>
<%= form_with model: @task, local: true do |form| %>
  <% @task.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
    <p>
      タスク名：<br>
      <%= form.text_field :title%>
    </p>
    <p>
      タスクメモ：<br>
      <%= form.text_area :memo %>
    </p>
    <p>
      状態：<br>
      <%= form.select :status,Task.statuses.keys.to_a, {} %>
    </p>
    <%= form.submit "登録" %>
<% end %>

<p>
  <%= link_to "一覧", tasks_path %>
</p>
